@{
    ViewBag.Title = "About MHMS PTO";
}
<h2>@ViewBag.Title</h2>
    <div>
        <div style="float: right; margin-left: 30px; margin-bottom: 20px;">
            <table cellpadding="0" cellspacing="0" width="600" border="0">
                <tr>
                    <td><img src="../Content/images/boardmembers/Shyno.jpg" border="0" title="Shyno Chacko-Pandeya" alt="Shyno Chacko-Pandeya" /></td>
                    <td><img src="../Content/images/boardmembers/lee.jpg" border="0" title="Lee Corsis" alt="Lee Corsis" /></td>
                    <td><img src="../Content/images/boardmembers/Vargas.jpg" border="0" title="Carolyn Vargas" alt="Carolyn Vargas" /></td>
                </tr>
                <tr>
                    <td><img src="../Content/images/boardmembers/Catherine.jpg" border="0" title="Catherine Middleton-Hardie" alt="Catherine Middleton-Hardie" /></td>
                    <td><img src="../Content/images/boardmembers/ferishta.jpg" border="0" title="Ferishta Kulaly" alt="Ferishta Kulaly" /></td>
                    <td><img src="../Content/images/boardmembers/allender.jpg" border="0" title="Denise Allender" alt="Denise Allender" /></td>
                </tr>
                <tr>
                    <td><img src="../Content/images/boardmembers/Joe.jpg" border="0" title="Joe Robbins" alt="Joe Robbins" /></td>
                    <td><img src="../Content/images/boardmembers/Yvette.jpg" border="0" title="Yvette Atienza-Aton" alt="Yvette Atienza-Aton" width="200" height="200" /></td>
                    <td><img src="../Content/images/boardmembers/Kathie.jpg" border="0" title="Kathie Chappell" alt="Kathie Chappell" /></td>
                </tr>
                <tr>
                    <td><img src="../Content/images/boardmembers/Olivia.jpg" border="0" title="Olivia Patterson" alt="Olivia Patterson" width="200" height="200" /></td>
                    <td><img src="../Content/images/boardmembers/Kathy.jpg" border="0" title="Kathy Miedema" alt="Kathy Miedema" width="200" height="200" /></td>
                    <td><img src="../Content/images/boardmembers/Canh.jpg" border="0" title="Canh Nguyen" alt="Canh Nguyen" width="200" height="200" /></td>
                </tr>
                <tr>
                    <td><img src="../Content/images/boardmembers/KJ.jpg" border="0" title="Kayacan Kaya" alt="Kayacan Kaya" width="200" height="200" /></td>
                    <td><img src="../Content/images/boardmembers/Rhea.jpg" border="0" title="Rhea Grover" alt="Rhea Grover" width="200" height="200" /></td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>
        <p></p>
        @*<p style="text-align: justify;"><b class="first"><strong></strong></b></p>
        <p style="text-align: justify;">Welcome from the Mission Hills Middle School Parent Teacher Organization (PTO). Our mission  is to enhance the academic and social experiences for students at MHMS. We strive to build a strong sense of community in our school by serving as a liaison between parents, staff, and students. We support school staff, help promote student self-esteem, and assist in efforts to solve school needs through volunteering and funding.</p>
        <p style="text-align: justify;">
            The <strong>2014-15 officers</strong> are
            (top row, from left) President <strong>Shyno Chacko-Pandeya</strong>,
            Vice President <strong>Lee Corsis</strong>,
            Secretary <strong>Carolyn Vargas</strong>,
            (second row) Treasurer <strong>Catherine Middleton-Hardie</strong>,
            and Administration representative <strong>Ferishta Kulaly</strong>.<br />
            <br />
            Representatives on the board include Pre-K through 2nd Grade Teacher Representative <strong>Denise Allender</strong>,
            3rd through 8th Grade Representative (third row) <strong>Joe Robbins</strong>,
            Pre-K through K Parent Representative,  <strong>Yvette Atienza-Aton</strong>,
            1st Grade Parent Representative <strong>Kathie Chappell</strong>,
            (fourth row) 2nd through 3rd Grade Parent Representative <strong>Olivia Patterson</strong>,
            4th through 5th Grade Parent Representative <strong>Kathy Miedema</strong>,
            6th through 8th Grade Parent Representative <strong>Canh Nguyen</strong>,
            and (fifth row) Student Representatives <strong>Kayacan Kaya </strong>and <strong>Rhea Grover</strong>.
        </p>
        <p style="text-align: justify;">Our key mission is to promote an environment at school where teachers and administrators can do their best work and our students can do their best learning. We're always eager to find more great people, like you, to help us meet this goal.</p>
        <p style="text-align: justify;">We don't expect a huge time commitment from volunteers. An hour can be a big help to our group and the school, and we have positions and tasks to fit all schedules and interests. Just let us know whether a program, event, or activity interests you and when you might be free to help. </p>
        <p style="text-align: justify;">Research shows that students whose parents are involved in their education have better grades and fewer discipline problems. Involvement at the school also makes it easier to establish friendships with teachers and other parents. We promise that the time you give our group and the school will be worth your while - and fun!</p>
        <p style="text-align: justify;">Feel free to e-mail the president of the PTO at <a href="mailto:president@mhmspto.org">president@mhmspto.org</a> if you have any questions. Together, we can make a difference at our school!</p>*@


        <h3>Current Board Members</h3>
        <p style="text-align: justify;">The 2014-15 officers are (top row, from left) President <b>Shyno Chacko-Pandeya</b>, Vice President <b>Lee Corsis</b>, Secretary <b>Carolyn Vargas</b>, (second row) Treasurer <b>Catherine Middleton-Hardie</b>, and Administration representative <b>Ferishta Kulaly</b>.</p>
        <p style="text-align: justify;">Representatives on the board include Pre-K through 2nd Grade Teacher Representative <b>Denise Allender</b>, 3rd through 8th Grade Representative (third row) <b>Joe Robbins</b>, Pre-K through K Parent Representative, <b>Yvette Atienza-Aton</b>, 1st Grade Parent Representative <b>Kathie Chappell</b>, (fourth row) 2nd through 3rd Grade Parent Representative <b>Olivia Patterson</b>, 4th through 5th Grade Parent Representative <b>Kathy Miedema</b>, 6th through 8th Grade Parent Representative <b>Canh Nguyen</b>, and (fifth row) Student Representatives <b>Kayacan Kaya</b> and <b>Rhea Grover</b>.</p>


        <h3>Letter from the President</h3>
        <p style="text-align: justify;">Dear Parents,</p>
        <p style="text-align: justify;">As the newly elected PTO President, I would like to take this opportunity to encourage you to join the PTO.  We are parents, like you, who want to provide a fun, enriching environment for our children to learn and grow.</p>
        <p style="text-align: justify;">The purpose of the PTO is to support the faculty, staff, parents, and most especially our students at Mission Hills Middle School.  We strive to enhance the academic and social experiences for students at MHMS, and build a strong sense of community by serving as a liaison between parents, staff, and students. We support school staff, help promote student self-esteem, and assist in the efforts to solve school needs through volunteering and funding.</p>
        <p style="text-align: justify;">In order to be successful, we know that the support and involvement of the parents of will be of utmost importance.  There are many ways you can support the PTO.  We have opportunities for even the busiest parent to help.  Check our website regularly for volunteer opportunities.</p>
        <p style="text-align: justify;">You can show your support by participating in the events and programs that we have planned throughout the year. Your participation might be that of a committee member, volunteer, or merely as an attendee. Whatever level of participation you select, your time and involvement will certainly be appreciated.</p>
        <p style="text-align: justify;">You also can show your support by providing your comments regarding PTO efforts, or suggestions or ideas for other potential PTO initiatives. To facilitate this, please feel free to contact me directly.</p>
        <p style="text-align: justify;">We in the PTO believe that it is of ultimate importance that we do everything we can to enhance the learning environment of our children, as they truly are our future. It will take all of us working together to ensure that this happens.</p>
        <p style="text-align: justify;">I look forward to working with you this year.  Thank you,</p>
        <b>Shyno Chacko Pandeya</b><br />
        PTO President<br />
        <a href="mailto:president@mhmspto.org"><i>president@mhmspto.org</i></a><br />

    </div>
