@{
    ViewBag.Title = "Calendar";
}
<h2>@ViewBag.Title</h2>
    <object data="../content/documents/PTO_Calendar.pdf" type="application/pdf" width="100%" height="750">
        alt : <a href="../content/documents/PTO_Calendar.pdf">../content/documents/PTO_Calendar.pdf</a>
    </object>


