
@{
    ViewBag.Title = "Committees";
}
<h2>@ViewBag.Title</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Go Green</h3>
                </div>
                <div class="panel-body">
                    <p><b>Mycile Cahambing</b></p>
                    @*<p><b>Next event:</b> Go Green garden workday, 1-4 p.m. Feb. 7</p>*@
                    <p>Help our garden grow! It's time to dig into the MHMS garden, and the Go Green committee needs the following items to get the garden going. Check with the front desk to find out where to drop off items.</p>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Organic soil per yard
                        </li>
                        <li class="list-group-item">
                            Organic fertilizer
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span>
                            Rakes
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span>
                            Shovels
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span>
                            Forks
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span>
                            Hoes
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span>
                            Trowels
                        </li>
                        <li class="list-group-item">
                            <span class="badge">8</span>
                            Plastic tubs for storing equipment
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span>
                            Rain barrels for collecting water
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span>
                            Hose reel
                        </li>
                        <li class="list-group-item">
                            Children's watering cans
                        </li>
                        <li class="list-group-item">
                            Azaleas
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3" style="margin-right: 15px;">
            <div class="row">
                <div class="panel panel-danger" style="height: 200px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">Bake Sale</h3>
                    </div>
                    <div class="panel-body">
                        <p><b>Julie Nghiem</b></p>
                        <p>Thank you for your generous support of the PTO bake sale! We raised $634. These funds help support PTO events and associated administrative costs.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-primary" style="height: 200px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">Yearbook</h3>
                    </div>
                    <div class="panel-body">
                        <p><b>Julie Nghiem</b></p>
                        <p>Parents! If you have any pictures from any off-campus field trips or on-campus events, please email them to <b><i>yearbook@mhmspto.org</i></b>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="row">
                <div class="panel panel-info" style="height: 200px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">Movie Night</h3>
                    </div>
                    <div class="panel-body">
                        @*<p><b>Movie night: Big Hero 6!</b><br />*@
                        <p><b>We are planning another movie night in May. Stay tuned!</b></p>
                        <p> 
                            Food service starts at 5:30 p.m. Movie starts at 6 p.m.<br />
                            Menu: Hamburgers, samosas, nachos, popcorn, fruit, salad, and waters.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-warning" style="height: 200px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">Fundraising</h3>
                    </div>
                    <div class="panel-body">
                        <p><b>Ritika Aulakh</b></p>
                        <p><b>Volunteers needed!</b> Stay tuned, and we will let you know how you can help.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>