@{
    ViewBag.Title = "Committees";
}
<h2>@ViewBag.Title</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Go Green</h3>
                </div>
                <div class="panel-body">
                    <p><b>Contact <a href="mailto: mcahambing@mhmschool.org">Mycile Cahambing</a></b></p>
                    @*<p><b>Next event:</b> Go Green garden workday, 1-4 p.m. Feb. 7</p>*@
                    <p>Congratulations to the Go Green Committee! Our school has been selected to receive a $1,200 garden grant from the California Fertilizer Foundation’s (CFF) School Garden Grant Program. This money will be used by the Go Green Committee to purchase equipment and supplies.</p>
                    <p>You can still help our garden grow! The Go Green committee needs the following items. Check with the front desk to find out where to drop off items.</p>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Organic soil per yard
                        </li>
                        <li class="list-group-item">
                            Organic fertilizer
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span>
                            Rakes
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span>
                            Shovels
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span>
                            Forks
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span>
                            Hoes
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span>
                            Trowels
                        </li>
                        <li class="list-group-item">
                            <span class="badge">8</span>
                            Plastic tubs for storing equipment
                        </li>
                        <li class="list-group-item">
                            <span class="badge">5</span>
                            Rain barrels for collecting water
                        </li>
                        <li class="list-group-item">
                            <span class="badge">3</span>
                            Hose reel
                        </li>
                        <li class="list-group-item">
                            Children's watering cans
                        </li>
                        <li class="list-group-item">
                            Azaleas
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3" style="margin-right: 15px;">
            <div class="row">
                <div class="panel panel-danger" style="height: 200px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">Bake Sale</h3>
                    </div>
                    <div class="panel-body">
                        <p><b>Contact <a href="mailto: jnghiem@mhmschool.org">Julie Nghiem</a></b></p>
                        @*<p>Thank you for your generous support of the PTO bake sale! We raised $634. These funds help support PTO events and associated administrative costs.</p>
                        <p>Look for another bake sale in May.</p>*@
                        <p><a href="http://www.SignUpGenius.com/go/20F0849A4AA22ABFD0-bake" target="_blank">Sign up to help with the next bake sale, on May 21.</a></p> 
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-primary" style="height: 200px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">Yearbook</h3>
                    </div>
                    <div class="panel-body">
                        <p><b>Contact <a href="mailto: yearbook@mhmspto.org">Julie Nghiem</a></b></p>
                        <p>Parents! If you have any pictures from any off-campus field trips or on-campus events, please email them to <b><i>yearbook@mhmspto.org</i></b>.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-danger" style="height: 200px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">Muffins with Moms (Mother's Day)</h3>
                    </div>
                    <div class="panel-body">
                        <p><b>Contact <a href="mailto: vp@mhmspto.org">Lee Corsis</a></b></p>
                        <p><b>Volunteers needed!</b> Stay tuned, and we will let you know how you can help.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-info" style="height: 200px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">Donuts with Dads (Father's Day)</h3>
                    </div>
                    <div class="panel-body">
                        <p><b>Contact <a href="mailto: tpachura@mhmschool.org">Tammy Pachura</a></b></p>
                        <p><b>Volunteers needed!</b> Stay tuned, and we will let you know how you can help.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="row">
                <div class="panel panel-info" style="height: 200px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">Movie Night</h3>
                    </div>
                    <div class="panel-body">
                        <p>Look for our next event in Fall 2015</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-warning" style="height: 200px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">Fundraising</h3>
                    </div>
                    <div class="panel-body">
                        <p><b>Ritika Aulakh</b></p>
                        <p><b>Volunteers needed!</b> Stay tuned, and we will let you know how you can help.</p>
                        <p>Contact the MHMS PTO President for more information: <a href="mailto: president@mhmspto.org">president@mhmspto.org</a></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-primary" style="height: 200px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">Teacher Appreciation Week</h3>
                    </div>
                    <div class="panel-body">
                        <p><b>Contact <a href="mailto: mkirksey@mhmschool.org">Melanie Kirksey</a></b></p>
                        <p><b>Volunteers needed!</b> Stay tuned, and we will let you know how you can help.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-warning" style="height: 200px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">End of Year BBQ</h3>
                    </div>
                    <div class="panel-body">
                        <p><b>Contact <a href="mailto: jnghiem@mhmschool.org">Julie Nghiem</a></b></p>
                        <p><b>Volunteers needed!</b> Stay tuned, and we will let you know how you can help.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>