
@{
    ViewBag.Title = "Documents";
}
<h2>@ViewBag.Title</h2>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">PDF Docs</h3>
    </div>
    <div class="panel-body">
        <p>Download and Print Out our PTO documents in Acrobat PDF format using the following links:</p>
        <p>
            <a href="../content/documents/Letter_from_the_President.pdf" target="_blank">Letter from the President.pdf</a><br />
            <a href="../content/documents/MHMS_PTO_Title_Page.pdf" target="_blank">MHMS PTO Title Page.pdf</a><br />
            <a href="../content/documents/PTO_Membership_Form.pdf" target="_blank">PTO Membership Form.pdf</a><br />
            <a href="../content/documents/Role_of_PTO.pdf" target="_blank">Role of PTO.pdf</a><br />
            <a href="../content/documents/Volunteer_Form_To_Parent.pdf" target="_blank">Volunteer Form To Parent.pdf</a><br />
            <a href="../content/documents/2013_2014_PTO_Calendar.pdf" target="_blank">2013_2014_PTO_Calendar.pdf</a>
        </p>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Meeting Notes</h3>
    </div>
    <div class="panel-body">
        Meeting notes are in Acrobat PDF format.<br />
        <a href="../content/documents/General_Meeting_Minutes_20140924.pdf" target="_blank">General Meeting Minutes 9/24/2014</a>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Newsletter</h3>
    </div>
    <div class="panel-body">
        <p>Download and Print Out our PTO documents in Acrobat PDF format using the following links:</p>
        <p>
            This newsletter from the Go Green committee is in Acrobat PDF format.<br />
            <a href="../content/documents/Go_Green_newsletter_2014_Fall_final.pdf" target="_blank">Go Green newsletter Fall 2014</a>
        </p>
    </div>
</div>

