@{
    ViewBag.Title = "Events";
}
<h2>@ViewBag.Title</h2>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Upcoming Events</h3>
        </div>
        <div class="panel-body">
            <p><b>PTO General Meeting:</b> 6 p.m. Jan. 28 **THIS MEETING HAS BEEN CHANGED FROM JAN. 14.** Meetings are held in the school library.</p>
            <p>Multi-Cultural Week: Jan. 26-30</p>
            <p>Multi-Cultural Feast: Jan. 30</p>
            <p>Valentine Gram Pre-sale: Jan. 26 &ndash; Feb. 6</p>
            <p>Go Green garden workday: 1-4 p.m. Feb. 7</p>
            <p>Valentine Bake Sale: 8 a.m.-5 p.m. Feb. 13</p>
            <p><b>Parents!</b> If you have pictures from any off-campus field trips or on-campus events, please email them to yearbook@mhmspto.org.</p>
        </div>
    </div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">What happened recently?</h3>
    </div>
    <div class="panel-body">
        <p><b>PTO Board Elections!</b></p>
        <p>The 2014-15 officers are:</p>
        <p>
            <b>President:</b> Shyno Chacko-Pandeya<br />
            <b>Vice President:</b> Lee Corsis<br />
            <b>Secretary:</b> Carolyn Vargas<br />
            <b>Treasurer:</b> Catherine Middleton-Hardie<br />
            <b>Administration:</b> Ferishta Kulaly<br />
            <b>Pre-K through 2nd Grade Teacher Representative: </b> Denise Allendar<br />
            <b>3rd through 8th Grade Representative:</b> Joe Robbins<br />
            <b>Pre-K through K Parent Representative: </b> Yvette Atienza-Aton<br />
            <b>1st Grade Parent Representative:</b> Kathie Chappell<br />
            <b>2nd through 3rd Grade Parent Representative:</b> Olivia Patterson<br />
            <b>4th through 5th Grade Parent Representative:</b> Kathy Miedema<br />
            <b>6th through 8th Grade Parent Representative:</b> Canh Nguyen<br />
            <b>Student Representative &ndash; Boy: </b> Kayacan Kaya<br />
            <b>Student Representative &ndash; Girl:</b> Rhea Grover
        </p>
    </div>
</div>
<p> </p>
<p>If you have any questions regarding any of the PTO events above, please see a board member or email president@mhmspto.org or Ms. Julie at jnghiem@mhmschool.org.</p>

