@{
    ViewBag.Title = "Supplies Kit";
}
<div class="container">
    <h2>Buy our Classroom Supplies Kit</h2>
    <p style="text-align: justify;"><span style="color: red">COMING SOON:</span> The MHMS-PTO has customized school supply kits available for purchase. These kits are class-specific and include each student's personal items as well as classroom supplies.  The kits come with personalized labels for each student and will be delivered to the school. They will be available Aug. 24-25 during material drop-off.</p>
    <object data="~/Content/documents/Supplykit.pdf" type="application/pdf" type="application/pdf" width="700" height="950">
        alt : <a href="~/Content/documents/Supplykit.pdf" type="application/pdf">~/Content/documents/Supplykit.pdf" type="application/pdf</a>
    </object>
</div>

